<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995599594595-cl6n078e5b9a3d4ug867c1qso2gta52e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995599594595-cl6n078e5b9a3d4ug867c1qso2gta52e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>995599594595-15v4heb75puhh08jsnq4ce5qdq550hq6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBeH8Gez8mOngjzlZSW0Hvl49bNAe2qkAg</string>
	<key>GCM_SENDER_ID</key>
	<string>995599594595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aryajulianda.kaskita-app</string>
	<key>PROJECT_ID</key>
	<string>kaskita-d2d2c</string>
	<key>STORAGE_BUCKET</key>
	<string>kaskita-d2d2c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995599594595:ios:c7f658c9468601151d7456</string>
</dict>
</plist>